#main-aside-wrapper nav{
	background-color: #7d9d8a;
}

a{
	text-align: center;
}

#ssilk{
	text-align: left;
	background-color: rgba(199, 220, 227, 0.77);
	width:100%;	
}

#tabl{
	background-color: rgba(199, 220, 227, 0.77);
	width:100%;
}

#form{
	background-color: rgba(199, 220, 227, 0.77);
	width:100%;
}

body{
	background: rgba(102, 130, 130, 0.52) url(https://img2.goodfon.ru/wallpaper/nbig/2/99/tekstury-tekstura-texture-fon.jpg) fixed;
	
}

header{
	background-color: rgba(17, 70, 60, 0.82);	
}

footer{
	background-color: rgba(17, 70, 60, 0.82);	
	color: #aaafb5;
}
#logo{
	float:left; 
	width:80px; 
	height:80px;
}

th{
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	border: 4px double black;
}
td{
	text-align: center;
	border: 4px double black;
}
.chet{
	background-color: rgba(76, 139, 168, 0.79);
}
.nechet{
	background-color: rgba(37, 132, 110, 0.58);
}

label{
	background: #55c2eb;
    background-image: linear-gradient(180deg,#55c2eb,#0072bd);
    border-radius: 40px;
    font-size: 16px;
    width: 200px;
    padding: 13px;
    display: inline-block;
    border-right: 0px solid #ffffff;
    color: #fff;
    margin: 10px;
}

p{
	text-align:left;
}

#golova{
	color: #aaafb5;
	font-family: "Courier New", monotype;	
}
